<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.em.mi">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            ></activity>
        <activity android:name=".restLogin.LoginActivity"></activity>
        <activity android:name=".restLogin.RegisterActivity"></activity>
        <activity android:name=".restLogin.RetrieveActivity"></activity>
        <activity android:name=".Fragment_1.search.SearchActivity"></activity>
        <activity android:name=".classification.ClassificationActivity"></activity>
        <activity android:name=".Fragment_5.ChonZhiAcvtivity"></activity>
        <activity android:name=".Fragment_5.com.setting.SetActivity"></activity>
        <service android:name=".Fragment_1.FloatView.FxService"></service>
        <activity android:name=".Fragment_5.ho.participation.ParticipationActivity"></activity>
        <activity android:name=".Fragment_5.com.setting.About_usActivity"></activity>
        <!--各种收货地址-->
        <activity android:name=".pig.com.shohuodizi.Add_Dizhi_Info"></activity>
        <activity android:name=".pig.com.shohuodizi.AddDeliveryAddress"></activity>
        <activity android:name=".pig.com.shohuodizi.DeliveryAddress"></activity>
        <activity android:name=".pig.com.shohuodizi.Diizhi_EditAddress"></activity>
        <activity android:name=".pig.com.shohuodizi.CommodityDetails"></activity>
        <!--我的消息-->
        <activity android:name=".pig.com.shohuodizi.My_the_News"></activity>
        <!--我的信息-->
        <activity android:name=".pig.com.shohuodizi.MyInfo"></activity>
        <!--绑定手机 -->
        <activity android:name=".pig.com.shohuodizi.BangDingShouJi"></activity>
        <!--幸运记录 -->
        <activity android:name=".pig.com.shohuodizi.Lucky_Record_J"></activity>
        <!--晒单 -->
        <activity android:name=".pig.com.shohuodizi.Fragment_5_The_Sun"></activity>
        <!--所有参与记录 -->
        <activity android:name=".pig.com.shohuodizi.All_Participation_Records_J"></activity>
        <!--支付确认 -->
        <activity android:name=".pig.com.shohuodizi.ZFB_Confirmed_J"></activity>
        <!--修改密码-->
        <activity android:name=".Fragment_5.com.setting.Upda_Password"></activity>
        <!--登录 -->
        <activity android:name=".pig.com.shohuodizi.Login_J"></activity>

    </application>

</manifest>